@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    /* font-family: ; */
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center ;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

body{
    font-family: "Martel Sans", sans-serif;
}

.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.60;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img{
    color: red;
    width: 133px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

body{
    background-color: black;
}

.hero{
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 10px;
    padding: 0 30px;
}

.hero> :nth-child(1){
    font-size: 48px;
    text-align: center;
    font-weight: 900;
}

.hero> :nth-child(2){
    font-weight: 400;
    text-align: center;
    font-size: 24px;
}

.hero> :nth-child(3){
    font-weight: 400;
    text-align: center;
    font-size: 20px;
}

.separation{
    height: 7px;
    background-color: #2d2d2d;
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0);
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.btn-red {
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 12px 24px;
    font-size: 25px;
    border-radius: 4px;
    border: red;
}

.main input{
    padding: 18px 144px 13px 14px;
    font-weight: 400;
    color: white;
    margin-right: -6px;
    font-size: 16px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 0.1px solid rgba(130, 120, 120, 0.7);
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 200vw;
    height: 600px;
    margin: auto;
    color: white;
    font-family: "Martel Sans", sans-serif;
    align-items: center;
    flex-wrap: wrap;
}



.secImg{
    position: relative;
}

.secImg img{
    max-width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 49px;
    right: 0;
    width: 555px;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: 900;
}

section.first > div :nth-child(2){
    font-size: 24px;
}

.faq{
    background: black;
    color: white;
    padding: 34px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 15px;
    max-width: 70vw;
    margin: 10px auto;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.faqbox:hover{
    background-color: #414141;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

@media screen and (max-width: 1300px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        max-width: 305px;
    }

    .secImg video{
        width: 305px;
    }

    .hero> :nth-child(1){
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }

    .hero> :nth-child(3){
        font-size: 18px;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }

    .space{
        padding: 34px;
    }
}

footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1600px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.footer a{
    font-size: 14px;
    color: #ffffffb7;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

